@tailwind base;
@tailwind components;
@tailwind utilities;

#sentry-feedback {
  --inset: auto 0 0 auto;
  --page-margin: 0;

  /* --trigger-background: red; */
}



/* @media (prefers-color-scheme: dark) {
  #sentry-feedback {
    --trigger-background: #222222;
  }
} */
